<hr style="opacity: 0.09; margin-top: 10px"/>

<style>
    .ww-message {
        color: rgb(34, 34, 34);
        font-size: .8125rem;
        width: 100%;
        padding-top: 12px;
    }

    {{#if IS_MOBILE_VIEW}}
    .ww-buttons {
        overflow: hidden;
    }
    .ww-buttons > * {
        float: right;
    }
    .ww-buttons > *:not(:last-child) {
        margin-left: 5px;
    }
        {{#if IS_AD_PAGE}}
        .ww-results, .ww-buttons, .ww-message {
            padding: 0 16px;
        }
        .ww-results {
            margin-bottom: 30px;
        }
        {{/if}}
    {{/if}}
    .ww-link-safe {
        background-color: #d1e1d1;
    }
    .ww-link-dead {
        background-color: #d6d8dd;
    }
    .ww-link-suspicious {
        background-color: #e5e38e;
    }
    .ww-link-unsafe {
        background-color: #efe2e2;
    }

    .ww-duplicates-container {
        color: #9d9103;
        font-size: .8125rem;
        margin-top: 6px;
    }
</style>

<div class="ww-buttons">
    <button title="{{#unless visible}}Ma-m razgândit{{else}}Ascunde{{/unless}}" type="button" style="vertical-align: middle; background-color: {{#unless visible}}#696969{{else}}#c59b2f{{/unless}}; padding: 9px; padding-bottom: 7px;" class="mainbg radius" data-wwid="toggle-hidden">
        {{#unless visible}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
        {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <defs>
                    <mask id="cut-mask">
                        <rect width="24" height="24" fill="white"></rect>
                        <line x1="6" y1="6" x2="24" y2="24" stroke="black" stroke-width="4"></line>
                    </mask>
                </defs>
                <g mask="url(#cut-mask)">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="4"></circle>
                </g>
                <line x1="3" y1="3" x2="21" y2="21" stroke-width="1"></line>
            </svg>
        {{/unless}}
    </button>

    {{#if phone}}
        <button title="{{#if isFav}}Șterge din favorite{{else}}Adaugă la favorite{{/if}}" style="border-radius: 3px; vertical-align: middle; padding: 9px; padding-bottom: 7px; background-color: {{#if isFav}}#b34c4c{{else}}#e0dada{{/if}}" data-wwstate="{{#if isFav}}on{{else}}off{{/if}}" data-wwid="temp-save">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
             fill="{{#if isFav}}#fefefe{{else}}none{{/if}}"
             stroke="{{#if isFav}}none{{else}}#333{{/if}}" stroke-width="2">
            <polygon points="12,2 15,10 23,10 17,14 19,22 12,17 5,22 7,14 1,10 9,10"/>
        </svg>
    </button>

    <button title="Analiza telefon" type="button" style="vertical-align: middle; padding: 9px; padding-bottom: 7px;"  class="mainbg radius" data-wwid="investigate">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </button>
    <button title="Analiza poze" type="button" style="vertical-align: middle; padding: 9px; padding-bottom: 7px;" class="mainbg radius" data-wwid="investigate_img">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><circle cx="8.5" cy="8.5" r="1.5"/><path d="M20.4 14.5L16 10 4 20"/></svg>
    </button>
    {{/if}}

    {{#if nimfomaneLink}}
        <a href='{{nimfomaneLink}}' target='_blank' data-wwid="nimfomane-btn" style='position: relative; display: inline-block;'>
            <svg
                    style='position: absolute;
                        width: 16px;
                        height: 16px;
                        margin-top: 2px;
                        margin-left: 6px;'
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <polygon fill='#8fc38f' points="2.67 7.63 5.46 10.41 13.33 2.54 14.85 4.06 5.46 13.46 1.15 9.15 2.67 7.63"/>
            </svg>
            <img style='background: #2f4979;
                    width: 93px;
                    border-radius: 4px;
                    padding: 15px 6px 12px 6px;'
                 src='https://nimfomane.com/forum/uploads/monthly_2024_01/logo2.png.d461ead015b3eddf20bc0a9b70668583.png'/>
        </a>
    {{/if}}
</div>

{{#unless visible }}
    {{#if automaticHideReason }}
        <p class="ww-message" data-wwid="message"><b>ascuns automat</b> prin setări</p>
    {{else}}
        {{#if dueToPhoneHidden}}
            <p class="ww-message" data-wwid="message">ai mai ascuns un anunț cu acceeași numar de telefon, <b>ascuns automat</b></p>
        {{/if}}
    {{/if}}
    {{#if hideReason }}
        <p class="ww-message" data-wwid="hide-reason">motiv ascundere: <b>{{hideReason}}</b></p>
    {{/if}}
{{/unless}}


{{#if hasNoPhone}}
    <p style="color: rgb(34, 34, 34); font-size: .8125rem;" class="ww-message">anuntul nu are nr telefon</p>
{{else}}
    {{#if phone}}
        <div class="ww-results">
            {{{phoneAndTags}}}
            {{# if showDuplicates }}
            {{# if hasDuplicateAdsWithSamePhone }}
                <p data-wwid="duplicates-container" class="ww-duplicates-container"><strong data-wwid="duplicates-count">{{numberOfAdsWithSamePhone}}</strong> anunțuri cu acest telefon <a data-wwid="duplicates">(vizualizează)</a></p>
            {{/if}}
            {{/if}}

            {{#if visible }}
                <h5 style="margin-top: 5px; margin-bottom: 3px; font-size: 1.125rem">
                    Rezultate după telefon
                    {{#if phoneInvestigatedSinceDays}}
                        <span style="{{#if phoneInvestigateStale}}color: #8b5454;{{else}}color: #69875c;{{/if}}font-size: 0.825rem;">
                            ({{phoneInvestigatedSinceDays}})
                        </span>
                    {{/if}}
                </h5>
                <div data-wwid="search-results">
                {{#if (isUndefined searchLinks)}}
                    <p style="color: #8b5454; font-size: .8125rem;">nerulat</p>
                {{else}}
                    {{#unless filteredSearchLinks.length}}
                        <p style="color: #69875c; font-size: .8125rem;">nu au fost găsite linkuri relevante</p>
                    {{else}}
                        {{#each filteredSearchLinks}}
                            <div style="font-size: .8125rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                <a onclick='event.stopPropagation()' href="{{this}}" target="_blank">{{this}}</a></div>
                        {{/each}}
                    {{/unless}}
                {{/if}}
                </div>

                <h5 style="margin-top: 5px; margin-bottom: 3px; font-size: 1.125rem">
                    Rezultate după imagine
                    {{#if imageInvestigatedSinceDays}}
                        <span style="{{#if imageInvestigateStale}}color: #8b5454;{{else}}color: #69875c;{{/if}}font-size: 0.825rem;">
                            ({{imageInvestigatedSinceDays}})
                        </span>
                    {{/if}}
                </h5>
                <div data-wwid="image-results">
                {{#if (isUndefined imageSearchDomains)}}
                    <p style="color: #8b5454; font-size: .8125rem;">nerulat</p>
                {{else}}
                    {{#unless imageSearchDomains.length}}
                        <p style="color: #69875c; font-size: .8125rem;">nu au fost găsite linkuri relevante</p>
                    {{else}}
                        {{#if hasImagesInOtherLocation}}
                            <p style="color: #8b5454; font-size: .8125rem; margin-bottom: 5px;" data-wwid="images-warning">anunțuri active găsite in alte locații !</p>
                        {{/if}}
                        <div style="font-size: .8125rem;">
                            {{#each imageSearchDomains}}
                                {{#each this.links}}
                                    <a href="{{this.link}}"
                                       class="{{#if this.isDead}}ww-link-dead{{else}}{{#if this.isSafe}}ww-link-safe{{else}}{{#if this.isSuspicious}}ww-link-suspicious{{else}}ww-link-unsafe{{/if}}{{/if}}{{/if}}"
                                       target="_blank"
                                       style="display: inline-block;
                                               padding: 5px;
                                               margin-right: 3px;
                                               margin-bottom: 6px;
                                               border-radius: 5px;
                                               text-decoration: none;
                                               color: rgb(55 55 55);
                                   ">
                                        {{#if @first}}
                                            {{../domain}}
                                        {{else}}
                                            <span style="font-size: .6rem">#</span>{{inc @index}}
                                        {{/if}}
                                    </a>
                                {{/each}}
                            {{/each}}
                        </div>
                    {{/unless}}
                {{/if}}
                </div>
            {{else }}

            {{/if}}
        </div>
    {{else}}
        <style>
            .ww-loader {
                margin-top: 15px;
                height: 9px;
                width: 60px;
                --c:no-repeat linear-gradient(#17b 0 0);
                background: var(--c), var(--c), var(--c), var(--c);
                background-size: 26% 3px;
                animation: l5 1s infinite;
            }
            @keyframes l5 {
                0%,
                70%,
                100% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
                12.5%{background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
                25%  {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
                37.5%{background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
                50%,
                60%  {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 100%}
            }
        </style>
        <div class="ww-loader"></div>
    {{/if}}
{{/if}}
