<hr style="opacity: 0.06"/>

<style>
    .ww-message {
        color: rgb(34, 34, 34);
        font-size: .8125rem;
        margin-top: 5px
    }

    {{#if IS_MOBILE_VIEW}}
    .ww-buttons {
        overflow: hidden;
    }
    .ww-buttons > * {
        float: right;
        margin-left: 5px;
    }
    .ww-message {
        float: right;
    }
        {{#if IS_AD_PAGE}}
        .ww-results, .ww-buttons {
            padding: 0 10px;
        }
        {{/if}}
    {{/if}}
</style>

<div class="ww-buttons">
    <button title="{{#unless visible}}Ma-m razgândit{{else}}Ascunde{{/unless}}" type="button" style="vertical-align: middle; background-color: {{#unless visible}}#696969{{else}}#c59b2f{{/unless}}; padding: 9px; padding-bottom: 7px;" class="mainbg radius" data-wwid="toggle-hidden">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
    </button>

    <button title="{{#if isTempSaved}}Șterge din favorite{{else}}Adaugă la favorite{{/if}}" style="border-radius: 3px; vertical-align: middle; padding: 9px; padding-bottom: 7px; background-color: #e0dada" data-wwid="temp-save">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
             fill="{{#if isTempSaved}}#cb2727{{else}}none{{/if}}"
             stroke="{{#if isTempSaved}}none{{else}}#333{{/if}}" stroke-width="2">
            <polygon points="12,2 15,10 23,10 17,14 19,22 12,17 5,22 7,14 1,10 9,10"/>
        </svg>
    </button>

    <button title="Analiza telefon" type="button" style="{{#if hasNoPhone}}display:none;{{/if}} vertical-align: middle; padding: 9px; padding-bottom: 7px;"  class="mainbg radius" data-wwid="investigate">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </button>
    <button title="Analiza imagine" type="button" style="{{#if hasNoPhone}}display:none;{{/if}} vertical-align: middle; padding: 9px; padding-bottom: 7px;" class="mainbg radius" data-wwid="investigate_img">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><circle cx="8.5" cy="8.5" r="1.5"/><path d="M20.4 14.5L16 10 4 20"/></svg>
    </button>

    {{#if nimfomaneLink}}
        <a href='{{nimfomaneLink}}' target='_blank' style='position: relative; display: inline-block;'>
            <svg
                    style='position: absolute;
               width: 20px;
               height: 20px;
               margin-top: 2px;
               margin-left: 2px;'
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <polygon fill='#8fc38f' points="2.67 7.63 5.46 10.41 13.33 2.54 14.85 4.06 5.46 13.46 1.15 9.15 2.67 7.63"/>
            </svg>
            <img style='background: #2f4979;
                {{#if IS_MOBILE_VIEW}}width:94px;{{else}}height: 45px;{{/if}}
                    border-radius: 4px;
                    padding: 12px;'
                 src='https://nimfomane.com/forum/uploads/monthly_2024_01/logo2.png.d461ead015b3eddf20bc0a9b70668583.png'/>
        </a>
    {{/if}}
</div>

{{#if dueToPhoneHidden}}
    <p style="" class="ww-message">ai mai ascuns un anunț cu acceeași numar de telefon; ascuns automat</p>
{{/if}}


{{#if hasNoPhone}}
    <p style="color: rgb(34, 34, 34); font-size: .8125rem;" class="ww-message">anuntul nu are nr telefon;</p>
{{else}}
    {{#if phone}}
        <div class="ww-results">
            <h4 style='font-weight: bold; padding-top: 10px;'>
                {{#if IS_MOBILE_VIEW}}
                    <a href="tel:{{phone}}">{{phone}}</a>
                {{else}}
                    {{phone}}
                {{/if}}
            </h4>
            {{# if hasDuplicateAdsWithSamePhone }}
                <p style="color: #8b5454; font-size: .8125rem;"><strong>{{numberOfAdsWithSamePhone}}</strong> anunțuri cu acest telefon <a data-wwid="duplicates">(vizualizează)</a></p>
            {{/if}}

            {{#if visible }}
                <h5 style="margin-top: 5px; margin-bottom: 3px; font-size: 1.125rem">
                    Rezultate după telefon
                    {{#if phoneInvestigatedSinceDays}}
                        <span style="{{#if phoneInvestigateStale}}color: #8b5454;{{else}}color: rgb(103,109,92);{{/if}}font-size: 0.825rem;">
                            ({{phoneInvestigatedSinceDays}})
                        </span>
                    {{/if}}
                </h5>
                {{#if (isUndefined searchLinks)}}
                    <p style="color: #8b5454; font-size: .8125rem;">nerulat</p>
                {{else}}
                    {{#unless filteredSearchLinks.length}}
                        <p style="color: rgb(103,109,92); font-size: .8125rem;">nu au fost găsite linkuri relevante</p>
                    {{else}}
                        {{#each filteredSearchLinks}}
                            <div style="font-size: .8125rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                <a onclick='event.stopPropagation()' href="{{this}}" target="_blank">{{this}}</a></div>
                        {{/each}}
                    {{/unless}}
                {{/if}}

                <h5 style="margin-top: 5px; margin-bottom: 3px; font-size: 1.125rem">
                    Rezultate după imagine
                    {{#if imageInvestigatedSinceDays}}
                        <span style="{{#if imageInvestigateStale}}color: #8b5454;{{else}}color: rgb(103,109,92);{{/if}}font-size: 0.825rem;">
                            ({{imageInvestigatedSinceDays}})
                        </span>
                    {{/if}}
                </h5>
                {{#if (isUndefined imageSearchDomains)}}
                    <p style="color: #8b5454; font-size: .8125rem;">nerulat</p>
                {{else}}
                    {{#unless imageSearchDomains.length}}
                        <p style="color: rgb(103,109,92); font-size: .8125rem;">nu au fost găsite linkuri relevante</p>
                    {{else}}
                        {{#if hasImagesInOtherLocation}}
                            <p style="color: #8b5454; font-size: .8125rem; margin-bottom: 5px;">anunțuri active găsite in alte locații !</p>
                        {{/if}}
                        <div style="font-size: .8125rem;">
                            {{#each imageSearchDomains}}
                                {{#each this.links}}
                                    <a href="{{this}}" target="_blank"
                                       style="display: inline-block;
                                               background-color: {{#if ../isSafe}}#d1e1d1{{else}}#efe2e2{{/if}};
                                               padding: 5px;
                                               margin-right: 3px;
                                               margin-bottom: 6px;
                                               border-radius: 5px;
                                               text-decoration: none;
                                               color: rgb(55 55 55);
                                   ">
                                        {{#if @first}}
                                            {{../domain}}
                                        {{else}}
                                            <span style="font-size: .6rem">#</span>{{inc @index}}
                                        {{/if}}
                                    </a>
                                {{/each}}
                            {{/each}}
                        </div>
                    {{/unless}}
                {{/if}}
            {{else }}

            {{/if}}
        </div>
    {{else}}
        <p style="color: rgb(34, 34, 34); font-size: .8125rem;" class="ww-message">neanalizat</p>
    {{/if}}
{{/if}}
