<hr style="opacity: 0.06"/>

<style>
    .ww-message {
        color: rgb(34, 34, 34);
        font-size: .8125rem;
        width: 100%;
        padding-top: 12px;
    }

    {{#if IS_MOBILE_VIEW}}
    .ww-buttons {
        overflow: hidden;
    }
    .ww-buttons > * {
        float: right;
    }
    .ww-buttons > *:not(:last-child) {
        margin-left: 5px;
    }
        {{#if IS_AD_PAGE}}
        .ww-results, .ww-buttons, .ww-message {
            padding: 0 10px;
        }
        {{/if}}
    {{/if}}
</style>

<div class="ww-buttons">
    <button title="{{#unless visible}}Ma-m razgândit{{else}}Ascunde{{/unless}}" type="button" style="vertical-align: middle; background-color: {{#unless visible}}#696969{{else}}#c59b2f{{/unless}}; padding: 9px; padding-bottom: 7px;" class="mainbg radius" data-wwid="toggle-hidden">
        {{#unless visible}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path><circle cx="12" cy="12" r="3"></circle></svg>
        {{else}}
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <defs>
                    <mask id="cut-mask">
                        <rect width="24" height="24" fill="white"></rect>
                        <line x1="6" y1="6" x2="24" y2="24" stroke="black" stroke-width="4"></line>
                    </mask>
                </defs>
                <g mask="url(#cut-mask)">
                    <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                    <circle cx="12" cy="12" r="4"></circle>
                </g>
                <line x1="3" y1="3" x2="21" y2="21" stroke-width="1"></line>
            </svg>
        {{/unless}}
    </button>

    <button title="{{#if isTempSaved}}Șterge din favorite{{else}}Adaugă la favorite{{/if}}" style="border-radius: 3px; vertical-align: middle; padding: 9px; padding-bottom: 7px; background-color: {{#if isTempSaved}}#b34c4c{{else}}#e0dada{{/if}}" data-wwid="temp-save">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
             fill="{{#if isTempSaved}}#fefefe{{else}}none{{/if}}"
             stroke="{{#if isTempSaved}}none{{else}}#333{{/if}}" stroke-width="2">
            <polygon points="12,2 15,10 23,10 17,14 19,22 12,17 5,22 7,14 1,10 9,10"/>
        </svg>
    </button>

    <button title="Analiza telefon" type="button" style="{{#if hasNoPhone}}display:none;{{/if}} vertical-align: middle; padding: 9px; padding-bottom: 7px;"  class="mainbg radius" data-wwid="investigate">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><circle cx="11" cy="11" r="8"></circle><line x1="21" y1="21" x2="16.65" y2="16.65"></line></svg>
    </button>
    <button title="Analiza poze" type="button" style="{{#if hasNoPhone}}display:none;{{/if}} vertical-align: middle; padding: 9px; padding-bottom: 7px;" class="mainbg radius" data-wwid="investigate_img">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="#FFF" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><rect x="3" y="3" width="18" height="18" rx="2"/><circle cx="8.5" cy="8.5" r="1.5"/><path d="M20.4 14.5L16 10 4 20"/></svg>
    </button>

    {{#if nimfomaneLink}}
        <a href='{{nimfomaneLink}}' target='_blank' style='position: relative; display: inline-block;'>
            <svg
                    style='position: absolute;
                        width: 16px;
                        height: 16px;
                        margin-top: 2px;
                        margin-left: 6px;'
                    xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16">
                <polygon fill='#8fc38f' points="2.67 7.63 5.46 10.41 13.33 2.54 14.85 4.06 5.46 13.46 1.15 9.15 2.67 7.63"/>
            </svg>
            <img style='background: #2f4979;
                    width: 93px;
                    border-radius: 4px;
                    padding: 15px 6px 12px 6px;'
                 src='https://nimfomane.com/forum/uploads/monthly_2024_01/logo2.png.d461ead015b3eddf20bc0a9b70668583.png'/>
        </a>
    {{/if}}
</div>

{{#if dueToPhoneHidden}}
    <p style="" class="ww-message">ai mai ascuns un anunț cu acceeași numar de telefon, <b>ascuns automat</b></p>
{{/if}}
{{#unless visible }}
    {{#if hideReason }}
        <p class="ww-message">motiv ascundere: <b>{{hideReason}}</b></p>
    {{/if}}
{{/unless}}


{{#if hasNoPhone}}
    <p style="color: rgb(34, 34, 34); font-size: .8125rem;" class="ww-message">anuntul nu are nr telefon</p>
{{else}}
    {{#if phone}}
        <div class="ww-results">
            <h4 style='font-weight: bold; padding-top: 10px;'>
                {{#if IS_MOBILE_VIEW}}
                    <a href="tel:{{phone}}">{{phone}}</a>
                {{else}}
                    {{phone}}
                {{/if}}
                <a href="https://wa.me/+4{{phone}}" target="_blank" style="margin-left: 5px" title="Deschide Whatsapp">
                    <svg style="height: 26px; vertical-align: middle; margin-bottom: 4px;" viewBox="235.36 400.69 325.29 325.29" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <clipPath id="b">
                                <path d="M 0,841.89 H 595.276 V 0 H 0 Z"/>
                            </clipPath>
                            <linearGradient id="a" x2="1" gradientTransform="matrix(-1.53e-5 -243.96 243.96 -1.53e-5 298.5 541.37)" gradientUnits="userSpaceOnUse">
                                <stop stop-color="#7bcb32" offset="0"/>
                                <stop stop-color="#5db420" offset="1"/>
                            </linearGradient>
                        </defs>
                        <g transform="matrix(1.3333 0 0 -1.3333 0 1122.5)">
                            <g clip-path="url(#b)">
                                <path d="m420.46 359.32c0-1.336-0.041-4.232-0.121-6.47-0.197-5.475-0.63-12.54-1.286-15.76-0.988-4.837-2.477-9.403-4.418-13.204-2.297-4.496-5.228-8.523-8.71-11.998-3.474-3.469-7.497-6.388-11.987-8.676-3.82-1.947-8.415-3.437-13.28-4.419-3.187-0.644-10.199-1.069-15.64-1.263-2.24-0.08-5.137-0.12-6.467-0.12l-120.13 0.019c-1.336 0-4.232 0.041-6.47 0.121-5.475 0.197-12.541 0.631-15.76 1.287-4.837 0.986-9.404 2.476-13.204 4.417-4.496 2.298-8.523 5.228-11.998 8.71-3.469 3.475-6.388 7.498-8.676 11.987-1.947 3.821-3.437 8.415-4.42 13.281-0.643 3.186-1.068 10.199-1.262 15.639-0.08 2.239-0.12 5.137-0.12 6.468l0.019 120.12c0 1.336 0.041 4.233 0.121 6.471 0.196 5.475 0.631 12.54 1.287 15.759 0.986 4.838 2.475 9.404 4.417 13.205 2.298 4.496 5.228 8.522 8.71 11.998 3.474 3.469 7.498 6.388 11.987 8.676 3.82 1.947 8.415 3.437 13.28 4.419 3.187 0.643 10.2 1.069 15.64 1.262 2.24 0.08 5.138 0.121 6.468 0.121l120.12-0.02c1.336 0 4.233-0.04 6.47-0.121 5.476-0.196 12.541-0.63 15.761-1.287 4.837-0.986 9.403-2.475 13.204-4.417 4.495-2.297 8.522-5.228 11.998-8.71 3.469-3.474 6.388-7.497 8.676-11.986 1.947-3.821 3.436-8.415 4.419-13.281 0.643-3.187 1.069-10.199 1.262-15.64 0.08-2.24 0.12-5.137 0.12-6.468z" fill="url(#a)"/>
                                <path d="m341.14 403.54c-2.187 1.094-12.934 6.38-14.937 7.109-2.004 0.73-3.461 1.094-4.919-1.093-1.457-2.188-5.645-7.11-6.922-8.569-1.274-1.458-2.549-1.64-4.735-0.547-2.186 1.094-9.229 3.402-17.579 10.846-6.498 5.794-10.885 12.951-12.16 15.139s-0.135 3.37 0.959 4.46c0.983 0.978 2.185 2.552 3.279 3.828 1.092 1.276 1.457 2.188 2.186 3.646 0.728 1.458 0.364 2.735-0.183 3.828-0.546 1.094-4.918 11.85-6.74 16.225-1.774 4.261-3.576 3.685-4.918 3.752-1.274 0.063-2.732 0.077-4.189 0.077s-3.826-0.548-5.829-2.735c-2.004-2.188-7.651-7.475-7.651-18.23 0-10.756 7.833-21.147 8.926-22.605 1.093-1.459 15.414-23.531 37.341-32.996 5.215-2.252 9.288-3.597 12.462-4.604 5.237-1.663 10.001-1.428 13.768-0.866 4.2 0.628 12.933 5.287 14.755 10.392 1.821 5.104 1.821 9.479 1.275 10.39-0.547 0.911-2.004 1.458-4.189 2.553m-39.885-54.441h-0.029c-13.048 6e-3 -25.846 3.509-37.009 10.132l-2.656 1.576-27.52-7.217 7.346 26.823-1.73 2.75c-7.278 11.573-11.122 24.95-11.116 38.685 0.015 40.078 32.634 72.685 72.742 72.685 19.421-8e-3 37.678-7.579 51.407-21.318 13.728-13.739 21.285-32.003 21.277-51.425-0.016-40.082-32.635-72.691-72.712-72.691m61.884 134.56c-16.517 16.531-38.482 25.639-61.885 25.649-48.22 0-87.464-39.23-87.484-87.45-6e-3 -15.415 4.022-30.46 11.678-43.722l-12.411-45.319 46.376 12.161c12.778-6.967 27.164-10.639 41.806-10.645h0.036c3e-3 0-3e-3 0 0 0 48.215 0 87.464 39.235 87.483 87.455 9e-3 23.368-9.082 45.341-25.599 61.871" fill="#fff"/>
                            </g>
                        </g>
                    </svg>
                </a>
            </h4>
            {{# if hasDuplicateAdsWithSamePhone }}
                <p style="color: #9d9103; font-size: .8125rem;"><strong>{{numberOfAdsWithSamePhone}}</strong> anunțuri cu acest telefon <a data-wwid="duplicates">(vizualizează)</a></p>
            {{/if}}

            {{#if visible }}
                <h5 style="margin-top: 5px; margin-bottom: 3px; font-size: 1.125rem">
                    Rezultate după telefon
                    {{#if phoneInvestigatedSinceDays}}
                        <span style="{{#if phoneInvestigateStale}}color: #8b5454;{{else}}color: #69875c;{{/if}}font-size: 0.825rem;">
                            ({{phoneInvestigatedSinceDays}})
                        </span>
                    {{/if}}
                </h5>
                {{#if (isUndefined searchLinks)}}
                    <p style="color: #8b5454; font-size: .8125rem;">nerulat</p>
                {{else}}
                    {{#unless filteredSearchLinks.length}}
                        <p style="color: #69875c; font-size: .8125rem;">nu au fost găsite linkuri relevante</p>
                    {{else}}
                        {{#each filteredSearchLinks}}
                            <div style="font-size: .8125rem; text-overflow: ellipsis; white-space: nowrap; overflow: hidden;">
                                <a onclick='event.stopPropagation()' href="{{this}}" target="_blank">{{this}}</a></div>
                        {{/each}}
                    {{/unless}}
                {{/if}}

                <h5 style="margin-top: 5px; margin-bottom: 3px; font-size: 1.125rem">
                    Rezultate după imagine
                    {{#if imageInvestigatedSinceDays}}
                        <span style="{{#if imageInvestigateStale}}color: #8b5454;{{else}}color: #69875c;{{/if}}font-size: 0.825rem;">
                            ({{imageInvestigatedSinceDays}})
                        </span>
                    {{/if}}
                </h5>
                {{#if (isUndefined imageSearchDomains)}}
                    <p style="color: #8b5454; font-size: .8125rem;">nerulat</p>
                {{else}}
                    {{#unless imageSearchDomains.length}}
                        <p style="color: #69875c; font-size: .8125rem;">nu au fost găsite linkuri relevante</p>
                    {{else}}
                        {{#if hasImagesInOtherLocation}}
                            <p style="color: #8b5454; font-size: .8125rem; margin-bottom: 5px;">anunțuri active găsite in alte locații !</p>
                        {{/if}}
                        <div style="font-size: .8125rem;">
                            {{#each imageSearchDomains}}
                                {{#each this.links}}
                                    <a href="{{this.link}}" target="_blank"
                                       style="display: inline-block;
                                               background-color: {{#if this.isDead}}#d6d8dd{{else}}{{#if this.isSafe}}#d1e1d1{{else}}{{#if this.isSuspicious}}#e5e38e{{else}}#efe2e2{{/if}}{{/if}}{{/if}};
                                               padding: 5px;
                                               margin-right: 3px;
                                               margin-bottom: 6px;
                                               border-radius: 5px;
                                               text-decoration: none;
                                               color: rgb(55 55 55);
                                   ">
                                        {{#if @first}}
                                            {{../domain}}
                                        {{else}}
                                            <span style="font-size: .6rem">#</span>{{inc @index}}
                                        {{/if}}
                                    </a>
                                {{/each}}
                            {{/each}}
                        </div>
                    {{/unless}}
                {{/if}}
            {{else }}

            {{/if}}
        </div>
    {{else}}
        <style>
            .loader {
                margin-top: 15px;
                height: 9px;
                width: 60px;
                --c:no-repeat linear-gradient(#17b 0 0);
                background: var(--c), var(--c), var(--c), var(--c);
                background-size: 26% 3px;
                animation: l5 1s infinite;
            }
            @keyframes l5 {
                0%,
                70%,
                100% {background-position: calc(0*100%/3) 50% ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
                12.5%{background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 50% ,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
                25%  {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 50% ,calc(3*100%/3) 50% }
                37.5%{background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 50% }
                50%,
                60%  {background-position: calc(0*100%/3) 0   ,calc(1*100%/3) 100%,calc(2*100%/3) 0   ,calc(3*100%/3) 100%}
            }
        </style>
        <div class="loader"></div>
    {{/if}}
{{/if}}
