{{#each itemData}}
    <div class="article-item" data-articleid="{{this.id}}"
         style="margin-bottom: 30px;
                {{#if this.duplicate}}
                    margin-top: -35px;
                    border-top-right-radius: 0;
                    border-top-left-radius: 0;
                    border-top: none;
                {{/if}}
                "
         onclick="window.open('{{this.url}}', '_blank')"
    >
        <div class="article-txt-wrap">
            <div class="article-txt">
                <div class="article-content-wrap" style="overflow: visible">
                    <div class="art-img">
                        <a><img src="{{this.image}}" width="200" height="200"/></a>
                    </div>

                    <div class="article-content">
                        {{#if this.duplicate}}
                            <h3 class="article-title" style="color: #c59b2f">(duplicat)</h3>
                        {{/if}}
                        <h2 class="article-title"><a href="{{this.url}}" target="_blank">{{title}}</a></h2>
                        <p style="display: block" class="article-description">{{{this.description}}}</p>

                        <div style="float: left">
                            <p class="article-location">
                                <i class="svg-icon svg-icon-article">
                                    <svg viewBox="0 0 50 50" aria-hidden="true"><use xlink:href="#svg-icon-location"></use></svg>
                                </i>
                                <span>{{this.location}}</span>
                            </p>

                            <p class="article-date">
                                <i class="svg-icon svg-icon-article">
                                    <svg viewBox="0 0 50 50" aria-hidden="true"><use xlink:href="#svg-icon-calendar"></use></svg>
                                </i>
                                <span>{{this.date}}</span>
                            </p>
                        </div>

                        {{#unless IS_MOBILE_VIEW}}
                            {{#if this.qrCode}}
                                <div class="qr-code" style="float: right">
                                    <img src="{{this.qrCode}}" title="scaneaza pt telefon" width="85"/>
                                </div>
                            {{/if}}
                        {{/unless}}
                    </div>
                </div>
            </div>
        </div>
    </div>
{{/each}}
