<div style="position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: rgba(0,0,0,0.85);
            z-index: 10000;
            padding: 30px;
            padding-top: 100px;
            padding-bottom: 100px;
            overflow-y: scroll;
">
    <div class="rmd-container-search-results" style="width: 100%; max-width: 1000px; padding: 20px !important; background: #ececec; border-radius: 10px; margin: auto; position: relative;" onclick="event.stopPropagation()">
        <div style="position: absolute; top: -70px; width: 100%; margin-left: -20px;">
            <h2 style=" font-weight: bold;
                        color: #edd492;
                        float: left;
                        text-shadow: 2px 2px 2px rgba(0, 0, 0, .2);
                        background: #bd3636;
                        padding: 5px 20px;
                        border-radius: 10px;
                        margin-top: -10px;">
                <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 30" fill="#edd492" style="
                        vertical-align: middle;
                        transform: scale(2);
                    ">
                    <polygon points="12,2 15,10 23,10 17,14 19,22 12,17 5,22 7,14 1,10 9,10"/>
                </svg> Favorite
            </h2>
            <button type="button" class="mainbg radius" style="float: right; border-radius: 1000px; padding: 11px; line-height: 0; background: rgba(255,255,255,0.6)" data-wwid="close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                    <line x1="4" y1="4" x2="20" y2="20" stroke="black" stroke-width="2"/>
                    <line x1="20" y1="4" x2="4" y2="20" stroke="black" stroke-width="2"/>
                </svg>
            </button>
            <button type="button" class="radius" style="color: black;float: right;line-height: 0;background: rgba(255,255,255,0.6);margin-right: 25px;padding: 13px;" data-wwid="clear-favorites">
                <b>șterge lista</b>
            </button>
        </div>

        {{#each itemData}}
            <div class="article-item" data-articleid="{{this.id}}"
                 style="margin-bottom: 30px;
                        {{#if this.duplicate}}
                            margin-top: -35px;
                            border-top-right-radius: 0;
                            border-top-left-radius: 0;
                            border-top: none;
                        {{/if}}
                        "
                 onclick="window.open('{{this.url}}', '_blank')"
            >
                <div class="article-txt-wrap">
                    <div class="article-txt" style="padding-right: 20px">
                        <div class="article-content-wrap" style="overflow: visible">
                            <div class="art-img">
                                <a><img src="{{this.image}}" width="200" height="200"/></a>
                            </div>

                            <div class="article-content">
                                {{#if this.duplicate}}
                                    <h3 class="article-title" style="color: #c59b2f">(duplicat)</h3>
                                {{/if}}
                                <h2 class="article-title"><a href="{{this.url}}" target="_blank">{{title}}</a></h2>
                                <p style="display: block" class="article-description">{{{this.description}}}</p>

                                <p class="article-location" style="float: left">
                                    <i class="svg-icon svg-icon-article">
                                        <svg viewBox="0 0 50 50" aria-hidden="true"><use xlink:href="#svg-icon-location"></use></svg>
                                    </i>
                                    <span>{{this.location}}</span>
                                </p>

                                {{#if this.qrCode}}
                                    <div class="qr-code" style="float: right">
                                        <img src="{{this.qrCode}}" title="scaneaza pt telefon" width="85"/>
                                    </div>
                                {{/if}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
